.input::placeholder {
  color: transparent !important;
}

.label {
  position: absolute !important;
  pointer-events: none !important;
  z-index: 2 !important;
  transition: all 0.18s ease !important;
}

.root:has(textarea:focus) .label,
.root:has(textarea:not(:placeholder-shown)) .label {
  top: -0.45rem !important;
  transform: translateY(0) !important;
  font-size: 0.75rem !important;
}

.root:focus-within .label {
  top: -0.45rem !important;
  transform: translateY(0) !important;
  font-size: 0.75rem !important;
}
